
.about {
    position: relative;
    width: 100%;
    margin-block: 9rem;
    /* padding: 2.5rem 12vw 10rem 4rem; */
    background: center / cover no-repeat url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Fstatic.carthrottle.com%2Fworkspace%2Fuploads%2Fmemes%2Ftoyota_supra_shop_engine_tunin-5524224059cb7.jpg&f=1&nofb=1&ipt=52406c3a3a3acf31d4bf017a62b61c078135d2aeb784435d24c9dbb222370ea1&ipo=images), var(--c-linear-gradient); 
    background-blend-mode: overlay;
    filter: grayscale(18%);
    text-wrap: pretty;
    h1 {
      font: 500 5.2rem 'Inter', sans-serif;
      border-left: 0.5rem solid var(--c-white-200);
      padding-left: 1rem;
      margin-bottom: 2rem;
    }
    p {
      font: 500 1.2rem/1.7em "PT Serif", serif;
      padding: 0 0 0.7em 1.5rem;
      max-width: 70vw;
      &:first-of-type {
        font-size: 1.95rem;
      }
    }
    h1, p {
      text-shadow: 2px 2px 4px var(--c-black-700);
    }
  }

  .bookingBtn {
    position: absolute;
    right: 15%;
    bottom: 1rem;
    margin: 20px;
    font-size: 1.2rem;
    background: var(--c-blue-400);
    color: var(--c-white-600);
    border: 5px solid var(--c-blue-400);
    border-radius: 4px;
    padding: 0.85em 1.4em;
    margin: 1rem; 
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      color: var(--c-blue-400);
      border-color: var(--c-blue-400);
    }
    &:hover::after {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    &::after {
      content: "";
      background: var(--c-white-600);
      position: absolute;
      z-index: -1;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;
      transition: all 0.35s ease-out;
    }
  }