nav {
  position: absolute;
  margin-top: 1.5rem;
  z-index: 2;
  background-color: transparent; 
  width: 100%;
    height: 120px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
    menu {
      display: flex;
      padding: 1.5rem;
      gap: 3.5rem;
      li > a {
        font: 1.1rem/1.2em "Rubik", sans-serif;
        display: block;
        letter-spacing: 0.033em;
        color: var(--c-white-400);
        text-decoration: none;
        transition: all 200ms ease-in-out;
        &:hover {
          text-shadow: -3px 4px 18px var(--c-white-500);
          font-weight: 430;
          transform: translateY(-0.15em);
        }
      }
    }
     .navbarIcons {
      width: 300px;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: 0.8rem;
      justify-content: end;
    }
  }
  
  .shoppingCartIcon { 
    top: 30%;
    right: 16px;
    font-size: 1.8rem;
    color: var(--c-white-400);
    &:hover {
      filter: drop-shadow(-3px 4px 18px var(--c-white-500));
    }
  }
  
  .searchBox {
    position: relative;
    input {
      padding: 10px;
      width: 80px;
      height: 70px;
      background: none;
      border: 4px solid var(--c-blue-400);
      border-radius: 25px;
      box-sizing: border-box;
      font-family:'comic Sans MS';
      font-size: 1.8rem;
      color: var(--c-white-500);
      outline: none;
      transition: 0.5s;
      &:hover {
        width: 350px;
        background: var(--c-grey-400);
        border-radius: 10px;
      }
    }
    > .searchIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: var(--c-blue-400);
      transition: 0.2s;
    }
    &:hover > .searchIcon {
      opacity: 0;
      z-index: -1;
    }
  }